body{
	background-image: url("../images/cartBg.jpg");
}
.main_content{
	margin-right:1%;
	margin-top: 2.5%;
	width: 98.5%;
	height: 600px;
	padding: 10px;
}
.main_content h1{
	margin-left: 15%;
	font-family: candara;
}
.shop-more h3{
	font-size: 20px;
	font-family: arial;
}
.main_table{
	background-color: white;
	margin-left: 9%;
	height: 80%;
	width: 80%;
	padding: 20px;
}
#cart{	
	font-family: arial;
	border-collapse: collapse;
	margin-left: 15%;
	width: 70%;
}
#cart th{
	height:50px;
	font-size:20px;
	font-family: arial;
}
#cart tr{
	height:40px;	
}
.prod{
	border-bottom: 2px black solid;
}
#last-row{
	height: 50px;
	border-bottom: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}